/**
 * Anti Brute Force
 */

fieldset.insert label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	float: left;
	margin: 1rem 0 0!important;
}

fieldset.insert input[type="text"] {
	margin: 0;
	width: auto;
}

fieldset.insert input[type="submit"] {
	margin: 0 0 0 0.5rem;
}

fieldset.insert .actions {
	float: right;
}

@media (max-width: 766px){
	fieldset.insert .actions {
		clear: both;
		float: left;
	}
}
