
.actions.no-pad {
	padding-top: 0px;
}

.actions button.active {
	font-weight: bold;
}

table + fieldset.insert {
	display: block;
	margin: 1em 0 !important;
	border: 1px solid #E4E4DE;
	padding-bottom: 0;
}

fieldset.insert legend {
	margin-left: 1rem;
}

fieldset.insert label {
	width: auto;
	display: inline-block;
}

fieldset.insert label .input-ip {
	width: 150px;
}

fieldset.insert  .actions{
	float: right;
	padding-top: 0px;
}
